Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

*.suo
*.cache
*.sdf
*.opensdf
*.user
MineSweeper/bin/
MineSweeper/obj/
MineSweeperAnalyzer/bin/
MineSweeperAnalyzer/obj/
MineSweeperCalc/bin/
MineSweeperCalc/obj/
MineSweeperSolver/x64/
/x64/Debug/
/.vs/
