Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

*.suo
*.cache
*.sdf
*.opensdf
*.user
MineSweeper/bin/
MineSweeper/obj/
MineSweeperSolver/x64/
MineSweeperDemo/x64/
MineSweeperProver/x64/
MineSweeperSimulator/x64/
MineSweeperSpeed/x64/
SimulatorManagerClient/bin/
SimulatorManagerClient/obj/
SimulatorsManager/bin/
SimulatorsManager/obj/
/x64/
/.vs/
/ipch/