.App {
  text-align: center;
}

table.board {
  table-layout: fixed;
}

table.board * {
  margin: 0;
  padding: 0;
}

table.board tr {
  line-height: 5mm;
}

td.blk {
  width: 5mm;
  height: 5mm;
  overflow: visible;
  border-spacing: 0;
  font-family: monospace;
  font-size: 6mm;
  border: 3px solid #b0b0b0;
  background-color: #d2d2d2;
  position: relative;
}

td.blk span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

td.blk-open {
  border: 3px solid #eeeeee;
  background-color: #f3f3f3;
  font-weight: bold;
}

span.num-1 {
  color: #0301f0;
}

span.num-2 {
  color: #098703;
}

span.num-3 {
  color: #e30200;
}

span.num-4 {
  color: #00006e;
}

span.num-5 {
  color: #650101;
}

span.num-6 {
  color: #0c7f74;
}

span.num-7 {
  color: #000000;
}

span.num-8 {
  color: #787878;
}

td.blk-dead {
  background-color: red;
  border-color: black;
  color: black;
}

span.flag {
  color: #cb4444;
  font-size: 4mm;
  transform: translate(-50%, -45%);
}

td.blk-safe {
  border-color: #ffd702 !important;
}

td.blk-dangerous {
  border-color: #f82960 !important;
}

td.blk-best {
  border-color: gold;
  background-color: gold;
  background-image: linear-gradient(135deg, #ffda16, #e7c100) !important;
}

td.blk-preferred {
  border-color: #fbff90;
  background-color: #fbff90;
  background-image: linear-gradient(135deg, #ffef89, #cbff7d) !important;
}

span.bad-flag {
  font-weight: bold;
  text-decoration: line-through;
}

td.blk-won {
  border-color: #07a907;
  background-color: #09b722;
  background-image: linear-gradient(135deg, #3bec4b, #22a414);
}
