@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html, body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #88628c;
    background-image: linear-gradient(172deg, black, transparent);
    margin: 0 0 20px 0;
    display: flex;
    padding: 18px;
    gap: 20px;
}

@media(max-width: 400px) {
    header {
        padding: 8px;
        gap: 10px;
    }
}

header p {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header h1 {
    margin: 0;
    color: #f9f8ff;
}

header em {
    background-image: linear-gradient(95deg, #b2aab3 12px, #f8e2fc 33px);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 0 5px;
    margin: 0 -5px;
}

header a {
    color: white;
    text-decoration: underline;
}

header a:hover {
    color: #e552ec;
    text-decoration: underline;
}

#root {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 0 20px;
}
